.city
{
	background-color: tomato;
      	color: white;
     	padding: 10px;
}

.country
{
        background-color: yellow;
        color: blue;
        padding: 10px;
}

body
{
	margin:0;
	padding:0;
}


.contact
{
	position: fixed;
	margin-left: 40%;
	top: 300px;
}

.contact div:hover
{
	cursor:pointer;
	opacity: 0.4;
	color: black;
}

img
{
	width: 40px;
	height: 40px;
}

.fullform
{
	width:25%; 
	margin-left: 10%;
}

.write
{
	position:fixed;
	margin-left: 50%;
	top: 200px;
	font-family: 'Playball', cursive;
	font-size:50px;
}
	
